<section class="create-post mt-5 bg-lightblue">
  <h2 class="post-title-text">Create a New Blog Post</h2>
  <form id="create-post-form">
    <div class="mb-3">
      <label for="post-title" class="form-label post-body-text"><span
          class="bold-text"
        >Title</span></label>
      <input
        type="text"
        class="form-control"
        id="post-title"
        placeholder="Enter the title of your blog post"
      />
    </div>
    <div class="mb-3">
      <label for="post-content" class="form-label post-body-text"><span
          class="bold-text"
        >Content</span></label>
      <textarea
        class="form-control"
        id="post-content"
        rows="5"
        placeholder="Enter the content of your blog post"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit Post</button>
  </form>
</section>