 <div class="row">
    <div class="col">
        <form class="login-form">
            <div class="login-form-group">
                <label class="post-body-text" for="email-login">Email:</label>
                <input type="text" class="form-input" id="email-login"/>
            </div>
            <br>
            <div class="login-form-group">
                <label class="post-body-text" for="password-login">Password:</label>
                <input type="text" class="form-input" id="password-login"/>
            </div>
            <br>
            <div class="login-form-group">
                <button class="btn btn-secondary" id="login_button" type="submit">Login</button>
            </div>
             <br>
            <div class="post-body-text"><p>Don't have an accout? Click <span><a href="/signup">here</a></span> to be redirected to our signup page.</p></div>
        </form>
    </div>
</div>