 <div class="row"></div>
    <div class="col">
        <form class="signup-form" id="signup-form">
            <div class="signup-form-group">
                <label class="post-body-text" for="email-signup">Email:</label>
                <input type="text" class="form-input" id="email-signup"/>
            </div>
            <br>
            <div class="signup-form-group">
                <label class="post-body-text" for="username-signup">Username:</label>
                <input type="text" class="form-input" id="username-signup"/>
            </div>
            <br>
            <div class="signup-form-group">
                <label class="post-body-text" for="password-signup">Password:</label>
                <input type="text" class="form-input" id="password-signup"/>
            </div>
            <br>
            <div class="signup-form-group">
                <button class="btn btn-secondary" id="signup_button" type="submit">Register</button>
            </div>
            <br>
            <div><p class="post-body-text">Already have an existing accout? Click <span><a href="/login">here</a></span> to be redirected to our login page.</p></div>
        </form>
    </div>
 </div>